BrightServ/SOAPBasicAuthInjector/SOAPBasicAuthInjector/Web References/AP_UpdateCase/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:GENICSPNMSoftUpdateInvoice" xmlns:wgc="http://www.genpacticspnm.com" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:GENICSPNMSoftUpdateInvoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" wsu:Id="http_basic_auth_over_ssl_service_policy">
    <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic128 />
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="false">
              <wsp:Policy />
            </sp:HttpsToken>
          </wsp:Policy>
        </sp:TransportToken>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax />
          </wsp:Policy>
        </sp:Layout>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://www.genpacticspnm.com" elementFormDefault="qualified" targetNamespace="http://www.genpacticspnm.com">
      <xsd:complexType name="UpdateInvoiceRequest">
        <xsd:sequence>
          <xsd:element name="Source" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UpdateInvoiceService">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="UpdateInvoiceResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="InvoiceKey" type="xsd:string" />
                <xsd:element name="ESMStatus" type="xsd:string" />
                <xsd:element name="Id" type="xsd:string" />
                <xsd:element name="UniqueRequestId" type="xsd:string" />
                <xsd:element name="SourceofInvoice" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateInvoiceFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" />
            <xsd:element name="ErrorReason" type="xsd:string" />
            <xsd:element name="ErrorDescription" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateInvoiceRequest" type="wgc:UpdateInvoiceRequest" />
      <xsd:element name="UpdateInvoiceService" type="wgc:UpdateInvoiceService" />
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tracking_property" type="TrackingPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="insight_property" type="InsightPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceRequest">
    <wsdl:part name="part" element="wgc:UpdateInvoiceRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceService">
    <wsdl:part name="part" element="wgc:UpdateInvoiceService" />
  </wsdl:message>
  <wsdl:message name="UpdateInvoicePNMSoftFaultMessage">
    <wsdl:part name="part" element="wgc:UpdateInvoiceFault" />
  </wsdl:message>
  <wsdl:portType name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST">
    <wsdl:operation name="UpdateInvoiceRequestOperation">
      <wsdl:input message="tns:UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceRequest" />
      <wsdl:output message="tns:UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceService" />
      <wsdl:fault name="UpdateInvoicePNMSoftFault" message="tns:UpdateInvoicePNMSoftFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST_binding" type="tns:UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#http_basic_auth_over_ssl_service_policy" wsdl:required="false" />
    <wsdl:operation name="UpdateInvoiceRequestOperation">
      <soap:operation soapAction="urn:GENICSPNMSoftUpdateInvoice/UpdateInvoiceRequestOperation" />
      <wsdl:input>
        <soap:body use="literal" parts="part" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST">
    <wsdl:port name="UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST_pt" binding="tns:UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST_binding">
      <soap:address location="https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AKRITIV_UPDATECA_INTEGRA/v01/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>