BrightServ/SOAPBasicAuthInjector/SOAPBasicAuthInjector/Web References/AR_GetOracleInvoiceNumber/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:GetOracleInvoiceNumber" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pnmin="http://gnp.pnmsoft_GetOracleInvoiceNumber.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:GetOracleInvoiceNumber" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" wsu:Id="http_basic_auth_over_ssl_service_policy">
    <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic128 />
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="false">
              <wsp:Policy />
            </sp:HttpsToken>
          </wsp:Policy>
        </sp:TransportToken>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax />
          </wsp:Policy>
        </sp:Layout>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://gnp.pnmsoft_GetOracleInvoiceNumber.com" elementFormDefault="qualified" targetNamespace="http://gnp.pnmsoft_GetOracleInvoiceNumber.com">
      <xsd:element name="PNMInvoiceNos" type="pnmin:PNMInvoiceNos">
        <xsd:annotation>
          <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OracleInvoiceNos" type="pnmin:OracleInvoiceNos" />
      <xsd:complexType name="PNMInvoiceNos">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PNMInvoiceNum" type="pnmin:PNMInvoiceNum" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OracleInvoiceNos">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OracleInvoiceNo" type="pnmin:OracleInvoiceNo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OracleInvoiceNo">
        <xsd:sequence>
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="Reason" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute1" type="xsd:string" />
          <xsd:element name="OracleInvoiceNumber" type="xsd:string" />
          <xsd:element name="OutstandingAmount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetInvoiceFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:integer" />
            <xsd:element name="ErrorReason" type="xsd:string" />
            <xsd:element name="ErrorDescription" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PNMInvoiceNum">
        <xsd:sequence>
          <xsd:element maxOccurs="1" name="PNMInvoiceNo" type="xsd:string" />
          <xsd:element name="ENTITY_NAME" type="xsd:string" />
          <xsd:element name="BATCH_SOURCE_NAME" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tracking_property" type="TrackingPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="insight_property" type="InsightPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InvoiceNumberMessage">
    <wsdl:part name="parameter" element="pnmin:PNMInvoiceNos" />
  </wsdl:message>
  <wsdl:message name="OracleInvoiceNumberMessage">
    <wsdl:part name="parameter" element="pnmin:OracleInvoiceNos" />
  </wsdl:message>
  <wsdl:message name="InvoiceFault">
    <wsdl:part name="parameter" element="pnmin:GetInvoiceFault" />
  </wsdl:message>
  <wsdl:portType name="OracleInvoiceNumber_Oracleinovice_REQUEST">
    <wsdl:operation name="GetOracleInvoiceNumber">
      <wsdl:input message="tns:InvoiceNumberMessage" />
      <wsdl:output message="tns:OracleInvoiceNumberMessage" />
      <wsdl:fault name="InvoiceFault" message="tns:InvoiceFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OracleInvoiceNumber_Oracleinovice_REQUEST_binding" type="tns:OracleInvoiceNumber_Oracleinovice_REQUEST">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#http_basic_auth_over_ssl_service_policy" wsdl:required="false" />
    <wsdl:operation name="GetOracleInvoiceNumber">
      <soap:operation soapAction="urn:GetOracleInvoiceNumber/GetOracleInvoiceNumber" />
      <wsdl:input>
        <soap:body use="literal" parts="parameter" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameter" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OracleInvoiceNumber_Oracleinovice_REQUEST">
    <wsdl:port name="OracleInvoiceNumber_Oracleinovice_REQUEST_pt" binding="tns:OracleInvoiceNumber_Oracleinovice_REQUEST_binding">
      <soap:address location="https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFTGETORACLE_INTEGRATION/v01/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>