BrightServ/SOAPBasicAuthInjector/SOAPBasicAuthInjector/Web References/AR_CreateInvoice/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:PNMSoftARInsertInvoiceData" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:psarid="http://www.gnp.pnmsoft_arInvoice.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:PNMSoftARInsertInvoiceData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" wsu:Id="http_basic_auth_over_ssl_service_policy">
    <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic128 />
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="false">
              <wsp:Policy />
            </sp:HttpsToken>
          </wsp:Policy>
        </sp:TransportToken>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax />
          </wsp:Policy>
        </sp:Layout>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://www.gnp.pnmsoft_arInvoice.com" elementFormDefault="qualified" targetNamespace="http://www.gnp.pnmsoft_arInvoice.com">
      <xsd:complexType name="InvoiceDataRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AccountingRuleName" nillable="true" type="xsd:string" />
          <xsd:element name="Amount" type="xsd:double" />
          <xsd:element minOccurs="0" name="AmountIncludesTaxFlag" nillable="true" type="xsd:string" />
          <xsd:element name="BatchSourceName" type="xsd:string" />
          <xsd:element minOccurs="0" name="ConversionDate" nillable="true" type="xsd:date" />
          <xsd:element minOccurs="0" name="ConversionRate" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="ConversionType" nillable="true" type="xsd:string" />
          <xsd:element name="CurrencyCode" type="xsd:string" />
          <xsd:element name="CustTrxTypeName" type="xsd:string" />
          <xsd:element name="Description" type="xsd:string" />
          <xsd:element name="GLDate" nillable="true" type="xsd:date" />
          <xsd:element name="InterfaceLineAttribute1" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute2" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute3" type="xsd:string" />
          <xsd:element name="InterfaceLineContext" type="xsd:string" />
          <xsd:element minOccurs="0" name="InvoicingRuleName" nillable="true" type="xsd:string" />
          <xsd:element name="LineNumber" type="xsd:integer" />
          <xsd:element name="LineType" type="xsd:string" />
          <xsd:element minOccurs="0" name="LinkToLineAttribute1" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LinkToLineAttribute2" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LinkToLineContext" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="LinkToLineId" nillable="true" type="xsd:integer" />
          <xsd:element minOccurs="0" name="MemoLineName" nillable="true" type="xsd:string" />
          <xsd:element name="OrigSystemBillAddressRef" type="xsd:string" />
          <xsd:element name="OrigSystemBillCustomerRef" type="xsd:string" />
          <xsd:element name="OrigSystemShipAddressRef" type="xsd:string" />
          <xsd:element name="OrigSystemShipCustomerRef" type="xsd:string" />
          <xsd:element name="OrigSystemSoldCustomerRef" type="xsd:string" />
          <xsd:element name="Quantity" type="xsd:double" />
          <xsd:element minOccurs="0" name="TaxCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TaxRate" nillable="true" type="xsd:double" />
          <xsd:element name="TermName" type="xsd:string" />
          <xsd:element name="TrxDate" type="xsd:date" />
          <xsd:element minOccurs="0" name="UnitSellingPrice" nillable="true" type="xsd:double" />
          <xsd:element name="ENTITY_NAME" type="xsd:string" />
          <xsd:element name="REVENUE_ACCOUNT" type="xsd:string" />
          <xsd:element name="COST_CENTER" type="xsd:string" />
          <xsd:element name="FUTURE1" type="xsd:string" />
          <xsd:element name="FUTURE2" type="xsd:string" />
          <xsd:element name="RECEIVABLE_ACCOUNT" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute4" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute5" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute6" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute7" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute8" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute9" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Invoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="InvoiceDataRequest" type="psarid:InvoiceDataRequest">
              <xsd:annotation>
                <xsd:documentation>Document to create Invoice data from PNMSoft_AR</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvoiceDataResponse">
        <xsd:sequence>
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="Reason" type="xsd:string" />
          <xsd:element name="InterfaceLineAttribute1" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InvoiceData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="InvoiceDataResponse" type="psarid:InvoiceDataResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InvoiceDataFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" />
            <xsd:element name="ErrorReason" type="xsd:string" />
            <xsd:element name="ErrorDescription" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tracking_property" type="TrackingPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="insight_property" type="InsightPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InoviceData_Invoice">
    <wsdl:part name="part" element="psarid:Invoice" />
  </wsdl:message>
  <wsdl:message name="InoviceData_InvoiceData">
    <wsdl:part name="part" element="psarid:InvoiceData" />
  </wsdl:message>
  <wsdl:message name="InoviceData_InvoiceDataFault">
    <wsdl:part name="part" element="psarid:InvoiceDataFault" />
  </wsdl:message>
  <wsdl:portType name="InoviceData_InsertInvoice_REQUEST">
    <wsdl:operation name="InsertInvoiceData">
      <wsdl:input message="tns:InoviceData_Invoice" />
      <wsdl:output message="tns:InoviceData_InvoiceData" />
      <wsdl:fault name="InvoiceFault" message="tns:InoviceData_InvoiceDataFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InoviceData_InsertInvoice_REQUEST_binding" type="tns:InoviceData_InsertInvoice_REQUEST">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#http_basic_auth_over_ssl_service_policy" wsdl:required="false" />
    <wsdl:operation name="InsertInvoiceData">
      <soap:operation soapAction="urn:PNMSoftARInsertInvoiceData/InsertInvoiceData" />
      <wsdl:input>
        <soap:body use="literal" parts="part" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InoviceData_InsertInvoice_REQUEST">
    <wsdl:port name="InoviceData_InsertInvoice_REQUEST_pt" binding="tns:InoviceData_InsertInvoice_REQUEST_binding">
      <soap:address location="https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AR_CREATEIN_INTEGRAT/v01/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>