BrightServ/SOAPBasicAuthInjector/SOAPBasicAuthInjector/Web References/AP_CreateCase/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:http://www.genpacticspnm/createcase.com" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:pnmc="http://www.genpacticspnmcc/XMLSchema.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:http://www.genpacticspnm/createcase.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" wsu:Id="http_basic_auth_over_ssl_service_policy">
    <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic128 />
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="false">
              <wsp:Policy />
            </sp:HttpsToken>
          </wsp:Policy>
        </sp:TransportToken>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax />
          </wsp:Policy>
        </sp:Layout>
      </wsp:Policy>
    </sp:TransportBinding>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://www.genpacticspnmcc/XMLSchema.com" elementFormDefault="qualified" targetNamespace="http://www.genpacticspnmcc/XMLSchema.com">
      <xsd:element name="CreateCaseRequest">
        <xsd:annotation>
          <xsd:documentation>Genpact ICS to PNMSOFT Create Case Schema Details</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="pnmc:Header" />
            <xsd:element name="LineItems" type="pnmc:LineItems" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Header">
        <xsd:sequence>
          <xsd:element minOccurs="1" name="SourceOfInvoice" type="xsd:string" />
          <xsd:element minOccurs="1" name="DocumentType" type="xsd:string" />
          <xsd:element minOccurs="1" name="LECode" type="xsd:string" />
          <xsd:element minOccurs="1" name="InvoiceNumber" type="xsd:string" />
          <xsd:element minOccurs="1" name="InvoiceDate" type="xsd:date" />
          <xsd:element minOccurs="0" name="OHRID" type="xsd:string" />
          <xsd:element minOccurs="1" name="SupplierUniqueNo" type="xsd:string" />
          <xsd:element minOccurs="1" name="Currency" type="xsd:string" />
          <xsd:element minOccurs="1" name="PaymentTerms" type="xsd:string" />
          <xsd:element minOccurs="0" name="Taxes" type="xsd:double" />
          <xsd:element minOccurs="1" name="TotalAmount" type="xsd:double" />
          <xsd:element minOccurs="1" name="Amount" type="xsd:double" />
          <xsd:element minOccurs="0" name="InvoiceDescription" type="xsd:string" />
          <xsd:element minOccurs="1" name="JobId" type="xsd:string" />
          <xsd:element minOccurs="1" name="TypeOfDoc" type="xsd:string" />
          <xsd:element minOccurs="1" name="UniqueRequestId" type="xsd:string" />
          <xsd:element minOccurs="1" name="Source" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LineItems">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="LineItem" type="pnmc:LineItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LineItem">
        <xsd:sequence>
          <xsd:element name="LineLabel" type="pnmc:LineLabel" />
          <xsd:element name="CostAllocation" type="pnmc:CostAllocation" />
          <xsd:element name="UniqueRequestId" type="xsd:string" />
          <xsd:element name="Source" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LineLabel">
        <xsd:sequence>
          <xsd:element name="InvoiceLineNo" type="xsd:string" />
          <xsd:element name="AkritivESMProductServiceDescription" type="xsd:string" />
          <xsd:element name="AkritivESMRate" type="xsd:double" />
          <xsd:element name="Comment" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CostAllocation">
        <xsd:sequence>
          <xsd:element name="CostCode" type="xsd:string" />
          <xsd:element name="ProjectNumber" type="xsd:string" />
          <xsd:element name="TaskNumber" type="xsd:string" />
          <xsd:element name="ExpenditureOrganization" type="xsd:string" />
          <xsd:element name="ExpenditureType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateCaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="xsd:string" />
            <xsd:element name="AkritivESMId" type="xsd:string" />
            <xsd:element name="HeaderRecordId" type="xsd:string" />
            <xsd:element name="UniqueRequestId" type="xsd:string" />
            <xsd:element name="RecordType" type="xsd:string" />
            <xsd:element name="Message" type="xsd:string" />
            <xsd:element name="Source" type="xsd:string" />
            <xsd:element name="AkritivCaseStatus" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateCaseFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" />
            <xsd:element name="ErrorReason" type="xsd:string" />
            <xsd:element name="ErrorDescription" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/ics/tracking/ics_tracking_context.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_tracking_context">
        <xs:annotation>
          <xs:documentation>ICS Tracking Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="tracking_property" type="TrackingPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="TrackingPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="http://xmlns.oracle.com/procmon" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/procmon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ics_insight_context">
        <xs:annotation>
          <xs:documentation>Insight Context Schema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="insight_property" type="InsightPropertyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="InsightPropertyType">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateCaseRequestMessage">
    <wsdl:part name="parameters" element="pnmc:CreateCaseRequest" />
  </wsdl:message>
  <wsdl:message name="CreateCaseResponseMessage">
    <wsdl:part name="parameters" element="pnmc:CreateCaseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCaseFaultMessage">
    <wsdl:part name="parameters" element="pnmc:CreateCaseFault" />
  </wsdl:message>
  <wsdl:portType name="Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST">
    <wsdl:operation name="CreateCase">
      <wsdl:input message="tns:CreateCaseRequestMessage" />
      <wsdl:output message="tns:CreateCaseResponseMessage" />
      <wsdl:fault name="CreateCaseFault" message="tns:CreateCaseFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST_binding" type="tns:Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#http_basic_auth_over_ssl_service_policy" wsdl:required="false" />
    <wsdl:operation name="CreateCase">
      <soap:operation soapAction="urn:http://www.genpacticspnm/createcase.com/CreateCase" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST">
    <wsdl:port name="Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST_pt" binding="tns:Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST_binding">
      <soap:address location="https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AKRITIV_CREATECA_INTEGRA/v01/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>